* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.important {
  min-height: 150px;
  min-width: 400px;
  background: #eee;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  text-align: center;
}

.important h2 {
  margin: 1rem 0;
}

.important p {
  padding: 1rem;
}

.important h2 span {
  color: red;
}

.important p span {
  color: orange;
}